/* line 1, ../sass/custom.scss */
#body-right {
  display: inline-block;
}
/* line 3, ../sass/custom.scss */
#body-right p {
  margin-top: 10px;
  border: 4px solid dodgerblue;
}
/* line 8, ../sass/custom.scss */
#body-right #image1b {
  background-image: url("../images/1b.jpeg");
  width: 180px;
  height: 100px;
  background-size: 100% 100%;
  background-blend-mode: screen;
}
/* line 14, ../sass/custom.scss */
#body-right #image1b #text1b {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10% 2%;
}
/* line 20, ../sass/custom.scss */
#body-right #image1b .text2b {
  margin-top: 20px;
}
/* line 25, ../sass/custom.scss */
#body-right #image1c {
  background-image: url("../images/1c.jpeg");
  width: 180px;
  height: 100px;
  background-size: 100% 100%;
  background-blend-mode: screen;
}
/* line 31, ../sass/custom.scss */
#body-right #image1c #text1c {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10% 2%;
}
/* line 37, ../sass/custom.scss */
#body-right #image1c .text2c {
  margin-top: 20px;
}
